.metadata/
Servers/
Tomcat v9.0 Server at localhost-config/


# project
.settings/
target/
.classpath
.project
.springBeans
## pom.xml

# src
test/
main/resources/
classes/
log4j.xml
##web.xml
##spring/