@charset "UTF-8";

/* #board */
table{
	width: 700px;
	border: 1px solid #000;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #000;
}

li{
	list-style-type : none;
	float: left;
	padding: 0 10px;
}