@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

#wrap{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: #fbfbfb;
	margin-top: 50px;
}

#sign-up-form > div {
	width: 500px;
	height: 150px;
}

#btn{
	width: 500px;
	height: 50px;
}

#name-text, #email-chk-text, #password-chk-text{
	color: gray;
}

