<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.spring.mapper.boardMapper">

	<!-- 게시물 목록 -->
    <select id="getList" parameterType="Criteria" resultType="BoardVO">
    	SELECT * FROM board
    	limit #{pageStart}, #{perPageNum}
    </select>
    
    <!-- 게시물 총 개수 -->
    <select id="count" resultType="int">
    	SELECT COUNT(board_id) FROM board
    </select>
    
    <!-- 게시물 상세보기 -->
    <select id="detail" parameterType="int" resultType="BoardVO">
    	SELECT * FROM board WHERE board_id = #{id}
    </select>
    
    <!-- 게시물 등록 -->
    <insert id="insert" parameterType="BoardVO">
    	INSERT INTO board(board_title, board_writer, board_content)
    	VALUES (#{board_title}, #{board_writer}, #{board_content})
    </insert>
    
    <!-- 게시물 수정 -->
    <update id="update" parameterType="BoardVO">
    	UPDATE board
    	SET board_title = #{board_title},
    		board_content = #{board_content},
    		board_date = CURRENT_TIMESTAMP
    	WHERE board_id = #{board_id}
    </update>

</mapper>
  