<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<!-- resultType 간소화 -->
	<typeAliases>
		<typeAlias type="com.study.spring.entity.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.study.spring.entity.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.study.spring.entity.UserVO" alias="UserVO"/>
		<typeAlias type="com.study.spring.entity.AuthVO" alias="AuthVO"/>
		<typeAlias type="com.study.spring.entity.paging.Criteria" alias="Criteria"/>
	</typeAliases>
	
</configuration>
